body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
  position: relative;
}

.right-side {
  position: relative;
  display: none;
  flex-direction: column;
  height: 86vh;
  width: 20vw;
  margin-right: 1%;
}

#golem-static {
  display: none;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 99%;
}

.image-golem {
  flex: 5;
  background-repeat: no-repeat;
  background-size: contain;
}

.health-image-golem {
  flex: 1;
  display: flex;
}

.health-image-golem div {
  background: url("./image/team-golem/blue_heart.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.static-golem {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5%;
  font-size: 1vmax;
}

.static-display-golem {
  color: blue;
}

.golem-name {
  color: white;
}

.golem-age {
  color: white;
}

.golem-skin {
  color: white;
}

.golem-weapon {
  color: white;
}

.golem-title {
  color: white;
}

.right-side div {
  width: 100%;
  background-position: center;
}

.golem-team {
  font-size: 1.3vmax;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  text-decoration: underline blue;
}

.golem-fighter-1 {
  background: url(./image/team-golem/Golem_01.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 30%;
  cursor: pointer;
}

.golem-fighter-1:hover {
  background: url(./image/team-golem/Golem_01_hover.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: blue;
  height: 30%;
}

.golem-fighter-2 {
  background: url(./image/team-golem/Golem_02.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 30%;
  cursor: pointer;
}

.golem-fighter-2:hover {
  background: url(./image/team-golem/Golem_02_hover.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: blue;
  height: 30%;
}

.golem-fighter-3 {
  background: url(./image/team-golem/Golem_03.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 30%;
  cursor: pointer;
}

.golem-fighter-3:hover {
  background: url(./image/team-golem/Golem_03_hover.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: blue;
  height: 30%;
}

.left-side {
  position: relative;
  display: none;
  flex-direction: column;
  height: 86vh;
  width: 20vw;
  margin-left: 1%;
}

#minotaur-static {
  display: none;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 99%;
}

.image-minotaur {
  flex: 5;
  background-repeat: no-repeat;
  background-size: contain;
}

.health-image-minotaur {
  flex: 1;
  display: flex;
}

.health-image-minotaur div {
  background: url("./image/team-minotaur/red_heart.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.static-minotaur {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5%;
  font-size: 1vmax;
}

.static-display-minotaur {
  color: red;
}

.minotaur-name {
  color: white;
}

.minotaur-age {
  color: white;
}

.minotaur-skin {
  color: white;
}

.minotaur-weapon {
  color: white;
}

.minotaur-title {
  color: white;
}

.left-side div {
  width: 100%;
  background-position: center;
}
.minotaur-team {
  font-size: 1.3vmax;
  color: white;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline red;
}

.minotaur-fighter-1 {
  background: url(./image/team-minotaur/Minotaur_01.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 30%;
  cursor: pointer;
}

.minotaur-fighter-1:hover {
  background: url(./image/team-minotaur/Minotaur_01_hover.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: red;
  height: 30%;
}

.minotaur-fighter-2 {
  background: url(./image/team-minotaur/Minotaur_02.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 30%;
  cursor: pointer;
}

.minotaur-fighter-2:hover {
  background: url(./image/team-minotaur/Minotaur_02_hover.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: red;
  height: 30%;
}

.minotaur-fighter-3 {
  background: url(./image/team-minotaur/Minotaur_03.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 30%;
  cursor: pointer;
}

.minotaur-fighter-3:hover {
  background: url(./image/team-minotaur/Minotaur_03_hover.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: red;
  height: 30%;
}

.container {
  position: relative;
  width: 60vw;
  align-items: center;
  justify-content: center;
}
.entrance-container {
  display: flex;
  padding-top: 1vh;
  position: absolute;
  height: 65%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #000;
  border: 1px solid black;
}

#text-entrance {
  display: flex;
  position: absolute;
  width: 50%;
  height: 10%;
  bottom: 10%;
}

.text-display {
  background: linear-gradient(90deg, #fff, blanchedalmond, #fff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  animation: textEntrance 5s linear infinite;
  background-size: 80%;
  text-align: center;
}

@keyframes textEntrance {
  0% {
    background-position-x: -500%;
  }
  50% {
    background-position-x: -0%;
  }
  100% {
    background-position-x: 500%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.entrance-container div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
  height: 10%;
  color: white;
  font-size: 1.3vmax;
  cursor: pointer;
}
#go {
  display: none;
  color: white;
  animation: blink 9s infinite;
  -webkit-animation: blink 3s infinite;
}

.text-golem {
  color: blue;
  animation: blinkBlue 1s infinite;
  -webkit-animation: blinkBlue 10s infinite;
}
.text-minotaur {
  color: red;
  animation: blinkRed 1s infinite;
  -webkit-animation: blinkRed 10s infinite;
}
.container-canvas {
  /* height: fit-content; */
  height: 65vh;
}

#notification {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 1.3vmax;
  color: white;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.title {
  height: 5vh;
  text-align: center;
  font-size: 1.3vmax;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 4px;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-size: 80%;
  background-repeat: no-repeat;
  animation: animate 7s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
canvas {
  border-radius: 3px 3px 3px 3px;
  margin-bottom: 5px;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-repeat: repeat;
  animation: scroll 200s linear infinite;
}

@keyframes scroll {
  100% {
    background-position: 10000px 1px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.score-bar {
  padding-top: 2vh;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 10%;
  height: 70px;
  border-radius: 30px 30px 30px 30px;
  font-size: 1.1vmax;
  font-weight: bold;
  -webkit-text-stroke: 1.5px rgba(37, 37, 37, 0.5);
  animation: blink 1s infinite;
  -webkit-animation: blink 10s infinite;
}
.golem-health {
  display: flex;
  justify-content: flex-end;
  position: relative;
  background-color: transparent;
  width: 40%;
  height: 30px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 30px 0px 0px 30px;
}

#golemHealth {
  position: absolute;
  background: blue;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  border-radius: 30px 0px 0px 30px;
}

.minotaur-health {
  position: relative;
  background-color: transparent;
  width: 40%;
  height: 30px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 0px 30px 30px 0px;
}

#minotaurHealth {
  position: absolute;
  background: red;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0px 30px 30px 0px;
}

#maps-container {
  display: flex;
  position: relative;
  height: 8vh;
  width: 98%;
  padding-top: 1vh;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-left: 1%;
  padding-right: 1%;
  flex-wrap: wrap;
}

#hidden-container {
  position: absolute;
  height: 300%;
  width: 100%;
  background-color: #000;
  bottom: -120%;
}

.maps {
  display: flex;
  width: 20%;
  height: 100%;
  text-align: center;
  color: blanchedalmond;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-weight: 800;
}

.maps div {
  cursor: pointer;
  -webkit-text-stroke: 1.5px rgba(37, 37, 37, 0.5);
  animation: blink 9s infinite;
  -webkit-animation: blink 3s infinite;
  font-size: 1.7vmax;
}

#city1 {
  background: url(./image/background/City1.png);
  background-size: contain;
  background-repeat: repeat-x;
  border: dashed green;
}

#city2 {
  background: url(./image/background/City2.png);
  background-size: contain;
  background-repeat: repeat-x;
  border: dashed goldenrod;
}

#city3 {
  background: url(./image/background/City3.png);
  background-size: contain;
  background-repeat: repeat-x;
  border: dashed palevioletred;
}

#city4 {
  background: url(./image/background/City4.png);
  background-size: contain;
  background-repeat: repeat-x;
  border: dashed burlywood;
}

#city5 {
  background: url(./image/background/City5.png);
  background-size: contain;
  background-repeat: repeat-x;
  border: dashed #cea00b;
}

#city6 {
  background: url(./image/background/City6.png);
  background-size: contain;
  background-repeat: repeat-x;
  border: dashed #20dabb;
}

#city7 {
  background: url(./image/background/City7.png);
  background-size: contain;
  background-repeat: repeat-x;
  border: dashed #ffffff;
}

#city8 {
  background: url(./image/background/City8.png);
  background-size: contain;
  background-repeat: repeat-x;
  border: dashed #19a6dd;
}

@keyframes blink {
  20%,
  24%,
  50% {
    color: #fffcfc00;
    text-shadow: none;
  }
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #b91382, 0 0 15px #a50d72, 0 0 20px #581040,
      0 0 40px #220318, 0 0 60px #9e8997, 0 0 10px blanchedalmond,
      0 0 98px #b91382;
    color: blanchedalmond;
  }
}

@keyframes blinkBlue {
  20%,
  24%,
  50% {
    color: #fffcfc00;
    text-shadow: none;
  }
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #1613b9, 0 0 15px #0d17a5, 0 0 20px #101758,
      0 0 40px #040322, 0 0 60px #8a899e, 0 0 10px blue, 0 0 98px #1613b9;
    color: blue;
  }
}

@keyframes blinkRed {
  20%,
  24%,
  50% {
    color: #fffcfc00;
    text-shadow: none;
  }
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #b91313, 0 0 15px #a50d0d, 0 0 20px #581010,
      0 0 40px #220318, 0 0 60px #9e8989, 0 0 10px red, 0 0 98px #b91313;
    color: red;
  }
}
